body {
  font-family: 'Arial', sans-serif;
  margin: 3rem 3rem;
  font-size: 15px;
  background-color: #EDEDED;
}

#new-defendant-form-container input.gordon-num {
  width: 6%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
}

.header {
  height: 55px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 250px;
  background-color: #3770BA;
  color: white;
  overflow-y: hidden;
  text-align: left;
  white-space: nowrap;
  padding-top: 0px;
  display: inline;
  padding-left: 29px;
}

.header a {
  padding: 6px 8px 6px 16px;
  font-size: 12px;
  text-decoration: none;
  color: #ffffff;
  display: inline;
  text-align: right;
  text-indent: 20px;
}

.header a:hover {
  color: #ffafaf;
}

.footer {
  height:65px;
  width:100%;
  position:absolute;
  bottom:0;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000A44;
  overflow-x: hidden;
  padding-top: 20px;
}

 /* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
  text-indent: 16px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #ddfaff;
  display: inline-block;
}
 
.sidebar img {
  padding: 0px 8px;
}

.main {
   margin-left: 30px;
   padding: 20px 200px; /* Padded out to match sidebar */
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 450px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transform: translateX(2%) translateY(-20%);
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 25%;
  right: 100%; /* To the left of the tooltip */
  margin-top: 2px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
